{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %}{% load static %}
{% load i18n static %}
{% block extrastyle %}
    <style>
       .field-temp .select2-container--jet {
display: none;        }

  </style>
    {% endblock %}
{% block search %}


<!-- <div class="frmSearch">
    <input type="text" id="search-box" placeholder="Country Name" />
    <div id="suggesstion-box"></div>
</div> -->
<!-- <div class="up__search">
                        <form method="get" action="" id="search-userform">
                            <div class="s-con">
                                <input type="text" id="search-user" name="search" class="f-search" placeholder="Search..." autocomplete="off">
                                <button type="submit" class="btn-s"><i class="search icon"></i></button>
                            </div>
                            <div class="rs-container">
                                <div class="results"></div>
                                <div class="view-all">
                                    <a class="rs-item"></a>
                                </div>
                            </div>
                        </form>
                    </div> -->
             
{% endblock %}