<div id={{id}}-0>{{debt}}</div>
<td ><input class="{{id}}" size="2" id="{{id}}-1" name="pr_paid-{{previous.id}}" type="text" value="{{previous.paid}}"></td>
<td ><input class="{{id}}" size="2" id="{{id}}-2" name="pr_official-{{previous.id}}" type="text" value="{{previous.official}}"></td>
<td><input class="{{id}}" size="2" id="{{id}}-3" type="text" value="{{earned.previous}}"></td>
<td ><input class="{{id}}" size="2" id="{{id}}-4" type="text" value="{{previous_debt}}"></td>
<td><input class="{{id}}" size="2" id="{{id}}-5" name="cur_paid-{{current.id}}" type="text" value="{{current.paid}}"></td>
<td ><input class="{{id}}" size="2" id="{{id}}-6" name="cur_official-{{current.id}}" type="text" value="{{current.official}}"></td>
<td ><input class="{{id}}" size="2" id="{{id}}-7" type="text" value="{{earned.current}}"></td>
<td ><input class="{{id}}" size="2" id="{{id}}-8" type="text" value="{{current_debt}}"></td>
