{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %}{% load static %}
{% load i18n static %}
{% block extrastyle %}
    <style>
       .field-temp .select2-container--jet {
display: none;        }
input[list] {
    width: 450px;
}
#tempor{
    background-color: yellow;
    font-size: large;
}
  </style>
    {% endblock %}
{% block search %}
<div class="module initialized" id="changelist">
      

<div id="toolbar" class="initialized">

            
  
<input class="kl" id="search-box" type="text" name="city" list="my-list">
<a  href="{% url 'debt' %}"  target="_blank"><input type="submit"value="QARZDORLAR" id="tempor" name="_save"></a>
    <div class="kl" id="search-results">

       <!--  <datalist class="search-results" id="cityname">
      <option value="Boston">
      <option value="Cambridge">
    </datalist> -->
    </div>
            

        

<!-- <div class="frmSearch">
    <input type="text" id="search-box" placeholder="Country Name" />
    <div id="suggesstion-box"></div>
</div> -->
<!-- <div class="up__search">
                        <form method="get" action="" id="search-userform">
                            <div class="s-con">
                                <input type="text" id="search-user" name="search" class="f-search" placeholder="Search..." autocomplete="off">
                                <button type="submit" class="btn-s"><i class="search icon"></i></button>
                            </div>
                            <div class="rs-container">
                                <div class="results"></div>
                                <div class="view-all">
                                    <a class="rs-item"></a>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div></div>

{% endblock %}