{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %}{% load static %}
{% load i18n static %}
{% block search %}
<div class="form-row field-teacher">
            
            
                <div>
                    
                    
                        <label class="required" for="id_teacher">O&#39;qituvchisi:</label>
                        
                            <div class="related-widget-wrapper">
    <select name="teacher" required id="id_teacher" multiple>
  <option value="1" selected>dfs</option>

  <option value="2">Uzbek</option>

  <option value="3">ewr</option>

  <option value="4">fDF</option>

  <option value="5">f&#39;fDF{i}&#39;</option>

  <option value="6">f&#39;fDF{i}&#39;</option>

  <option value="7">f&#39;fDF{i}&#39;</option>

  <option value="8">f&#39;fDF{i}&#39;</option>

  <option value="9">f&#39;fDF{i}&#39;</option>

  <option value="10">f&#39;fDF{i}&#39;</option>

  <option value="11">f&#39;fDF{i}&#39;</option>

  <option value="12">f&#39;fDF{i}&#39;</option>

  <option value="13">f&#39;fDF{i}&#39;</option>

  <option value="14">f&#39;fDF{i}&#39;</option>

  <option value="15">f&#39;fDF{i}&#39;</option>

  <option value="16">f&#39;fDF{i}&#39;</option>

  <option value="17">f&#39;fDF{i}&#39;</option>

  <option value="18">f&#39;fDF{i}&#39;</option>

  <option value="19">f&#39;fDF{i}&#39;</option>

  <option value="20">f&#39;fDF{i}&#39;</option>

  <option value="21">f&#39;fDF{i}&#39;</option>

  <option value="22">f&#39;fDF{i}&#39;</option>

  <option value="23">f&#39;fDF{i}&#39;</option>

  <option value="24">f&#39;fDF{i}&#39;</option>

  <option value="25">f&#39;fDF{i}&#39;</option>

  <option value="26">f&#39;fDF{i}&#39;</option>

  <option value="27">f&#39;fDF{i}&#39;</option>

  <option value="28">f&#39;fDF{i}&#39;</option>

  <option value="29">f&#39;fDF{i}&#39;</option>

  <option value="30">f&#39;fDF{i}&#39;</option>

  <option value="31">f&#39;fDF{i}&#39;</option>

  <option value="32">f&#39;fDF{i}&#39;</option>

  <option value="33">f&#39;fDF{i}&#39;</option>

  <option value="34">f&#39;fDF{i}&#39;</option>

  <option value="35">f&#39;fDF{i}&#39;</option>

  <option value="36">f&#39;fDF{i}&#39;</option>

  <option value="37">f&#39;fDF{i}&#39;</option>

  <option value="38">f&#39;fDF{i}&#39;</option>

  <option value="39">f&#39;fDF{i}&#39;</option>

  <option value="40">f&#39;fDF{i}&#39;</option>

  <option value="41">f&#39;fDF{i}&#39;</option>

  <option value="42">f&#39;fDF{i}&#39;</option>

  <option value="43">f&#39;fDF{i}&#39;</option>

  <option value="44">f&#39;fDF{i}&#39;</option>

  <option value="45">f&#39;fDF{i}&#39;</option>

  <option value="46">f&#39;fDF{i}&#39;</option>

  <option value="47">f&#39;fDF{i}&#39;</option>

  <option value="48">f&#39;fDF{i}&#39;</option>

  <option value="49">f&#39;fDF{i}&#39;</option>

  <option value="50">f&#39;fDF{i}&#39;</option>

  <option value="51">f&#39;fDF{i}&#39;</option>

  <option value="52">f&#39;fDF{i}&#39;</option>

  <option value="53">f&#39;fDF{i}&#39;</option>

  <option value="54">f&#39;fDF{i}&#39;</option>

  <option value="55">f&#39;fDF{i}&#39;</option>

  <option value="56">f&#39;fDF{i}&#39;</option>

  <option value="57">f&#39;fDF{i}&#39;</option>

  <option value="58">f&#39;fDF{i}&#39;</option>

  <option value="59">f&#39;fDF{i}&#39;</option>

  <option value="60">f&#39;fDF{i}&#39;</option>

  <option value="61">f&#39;fDF{i}&#39;</option>

  <option value="62">f&#39;fDF{i}&#39;</option>

  <option value="63">f&#39;fDF{i}&#39;</option>

  <option value="64">f&#39;fDF{i}&#39;</option>

  <option value="65">f&#39;fDF{i}&#39;</option>

  <option value="66">f&#39;fDF{i}&#39;</option>

  <option value="67">f&#39;fDF{i}&#39;</option>

  <option value="68">f&#39;fDF{i}&#39;</option>

  <option value="69">f&#39;fDF{i}&#39;</option>

  <option value="70">f&#39;fDF{i}&#39;</option>

  <option value="71">f&#39;fDF{i}&#39;</option>

  <option value="72">f&#39;fDF{i}&#39;</option>

  <option value="73">f&#39;fDF{i}&#39;</option>

  <option value="74">f&#39;fDF{i}&#39;</option>

  <option value="75">f&#39;fDF{i}&#39;</option>

  <option value="76">f&#39;fDF{i}&#39;</option>

  <option value="77">f&#39;fDF{i}&#39;</option>

  <option value="78">f&#39;fDF{i}&#39;</option>

  <option value="79">f&#39;fDF{i}&#39;</option>

  <option value="80">f&#39;fDF{i}&#39;</option>

  <option value="81">f&#39;fDF{i}&#39;</option>

  <option value="82">f&#39;fDF{i}&#39;</option>

  <option value="83">f&#39;fDF{i}&#39;</option>

  <option value="84">f&#39;fDF{i}&#39;</option>

  <option value="85">f&#39;fDF{i}&#39;</option>

  <option value="86">f&#39;fDF{i}&#39;</option>

  <option value="87">f&#39;fDF{i}&#39;</option>

  <option value="88">f&#39;fDF{i}&#39;</option>

  <option value="89">f&#39;fDF{i}&#39;</option>

  <option value="90">f&#39;fDF{i}&#39;</option>

  <option value="91">f&#39;fDF{i}&#39;</option>

  <option value="92">f&#39;fDF{i}&#39;</option>

  <option value="93">f&#39;fDF{i}&#39;</option>

  <option value="94">f&#39;fDF{i}&#39;</option>

  <option value="95">f&#39;fDF{i}&#39;</option>

  <option value="96">f&#39;fDF{i}&#39;</option>

  <option value="97">f&#39;fDF{i}&#39;</option>

  <option value="98">f&#39;fDF{i}&#39;</option>

  <option value="99">f&#39;fDF{i}&#39;</option>

  <option value="100">f&#39;fDF{i}&#39;</option>

  <option value="101">f&#39;fDF{i}&#39;</option>

  <option value="102">f&#39;fDF{i}&#39;</option>

  <option value="103">f&#39;fDF{i}&#39;</option>

  <option value="104">f&#39;fDF{i}&#39;</option>

</select>
    
        <a class="related-widget-wrapper-link add-related" id="add_id_teacher"
            href="/uz/admin/payment/payment/?student__id__exact=3"
            title="Добавить ещё один объект типа "teacher""><img src="/static/admin/img/icon-addlink.svg" alt="Qo'shish"></a>
    
</div>
                        
                    
                    
                        <p class="help">Удерживайте "Control" (или "Command" на Mac), чтобы выбрать несколько значений.</p>
                    
                </div>
            
        </div>

<!-- <div class="frmSearch">
    <input type="text" id="search-box" placeholder="Country Name" />
    <div id="suggesstion-box"></div>
</div> -->
<!-- <div class="up__search">
                        <form method="get" action="" id="search-userform">
                            <div class="s-con">
                                <input type="text" id="search-user" name="search" class="f-search" placeholder="Search..." autocomplete="off">
                                <button type="submit" class="btn-s"><i class="search icon"></i></button>
                            </div>
                            <div class="rs-container">
                                <div class="results"></div>
                                <div class="view-all">
                                    <a class="rs-item"></a>
                                </div>
                            </div>
                        </form>
                    </div> -->
{% endblock %}